<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>

    <h1>My Todo List</h1>

    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add New Item..." required>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% todos.forEach(todo=>{ %>
                <li>
                    <%= todo.item %>
                </li>
                <% }) %>
        </ul>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>
</body>

</html>